@font-face {
  font-family: "figtree-extrabold";
  src: url("./assets/fonts/static/Figtree-ExtraBold.ttf");
}
@font-face {
  font-family: "figtree-medium";
  src: url("./assets/fonts/static/Figtree-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  display: grid;
  place-items: center;
}

body {
  background-color: #f4d04e;
}

main {
  min-height: 100vh;
  padding: 24px;
}

.card {
  max-width: 327px;
  display: flex;
  flex-direction: column;
  border: 1px solid #111111;
  box-shadow: 8px 8px #000000;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 24px;
  gap: 24px;
}

.card-image {
  display: block;
  border-radius: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

.category {
  background-color: #f4d04e;
  padding: 4px 12px;
  border-radius: 4px;
}

.category p {
  font-family: "figtree-extrabold";
  font-size: 12px;
  line-height: 150%;
  color: #111111;
}

.publish-date {
  font-family: "figtree-medium";
  font-size: 12px;
  line-height: 150%;
  color: #111111;
}

.title {
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.title h1 {
  font-family: "figtree-extrabold";
  font-size: 20px;
  line-height: 150%;
  color: #111111;
}

.title:hover h1 {
  color: #f4d04e;
}

.description {
  font-family: "figtree-medium";
  font-size: 14px;
  line-height: 150%;
  color: #6B6B6B;
}

.author-session {
  display: flex;
  align-items: center;
  gap: 12px;
}

.author-session img {
    width: 32px;
    height: 32px;
}

.author-session h3 {
  font-family: "figtree-extrabold";
  font-size: 14px;
  line-height: 150%;
  color: #111111;
}

@media (min-width: 480px) {
  .card {
    max-width: 384px;
  }
  .category p {
    font-size: 14px;
  }
  .publish-date {
    font-size: 14px;
  }
  .title {
    font-size: 24px;
  }
  .description {
    font-size: 16px;
  }
}
